 @using FreeCourse.Web.Models.Basket

@{
    ViewData["Title"] = "Index";
}

@model BasketViewModel

<div class="row">
    <div class="col-md-8 offset-md-2">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Basket</h5>
                @if (Model != null && Model.BasketItems.Any())
                {
                    <table class="table table-striped">
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Processes</th>
                        </tr>
                        @foreach (var item in Model.BasketItems)
                        {
                            <tr>
                                <td>@item.CourseName</td>
                                <td>
                                    @item.GetCurrentPrice $ @(Model.HasDiscount ?  $"(%{Model.DiscountRate.Value} discount)":"")
                                    </td>
                                <td>
                                    <a asp-controller="Basket" asp-action="DeleteBasketItem" asp-route-courseId="@item.CourseId">Delete</a>
                                </td>
                            </tr>
                        }



                        @if (Model.HasDiscount)
                        {
                            <tr>
                                <td>Discount</td>
                                <td colspan="2">%@Model.DiscountRate</td>
                            </tr>
                        }
                        <tr>
                            <td>@(Model.HasDiscount?"Discount price" : "Total price")</td>
                            <th colspan="2">@Model.TotalPrice $</th>
                        </tr>
                    </table>
                    <form asp-controller="Basket" asp-action="ApplyDiscount">
                        @if (Model.HasDiscount)
                        {
                            <div class="alert alert-success">
                                "@Model.DiscountCode" Discount accepted
                            </div>
                            <a asp-controller="Basket" asp-action="CancelApplyDiscount">Cancel discount</a>
                        }
                       <div class="input-group mb-3">
                            <input type="text" class="form-control" name="DiscountApplyInput.Code">
                            <button class="btn btn-outline-secondary" type="submit">Apply</button>
                           
                        </div>

                        @if (TempData["discountStatus"] != null && (bool)TempData["discountStatus"] == false)
                        {
                            <div class="text-danger">Discount Code incorrect</div>
                        }
                        @if (TempData["discountError"] != null)
                        {
                            <div class="text-danger">@TempData["discountError"]</div>
                        }
                    </form>
                    <a class="btn btn-success" asp-controller="Order" asp-action="Checkout">Payment infos</a>
                    <a class="btn btn-warning" asp-controller="Home" asp-action="Index">Continue searching</a>

                }
            </div>
        </div>

    </div>
</div>

